body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe6e6; 
}

header {
    background-color: #ffffcc; /* Rosa claro */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ff69b4; /* Rosa brillante */
    /* border-radius: 10px; */
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.logo span{
    color: #ff69b4;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff69b4; /* Rosa brillante */
    font-weight: bold;
}

nav ul li a:hover{
    color: #ffcccc;
}

.main-container{
    width: 50%; /* Cambiar el ancho según tu preferencia */
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    padding: 20px;
    background-color: #ffcccc;
    border-radius: 10px;
    border: 2px solid #ff69b4; /* Rosa brillante */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.container {
    text-align: center;
    margin-top: 50px;
    background-color: #ffffcc; /* Amarillo claro */
    padding: 20px;
    border: 2px solid #ff69b4; /* Rosa brillante */
    /* border-radius: 10px; */
}

.titulo {
    color: #ff69b4; /* Rosa brillante */
    font-size: 24px;
}

.footer-container {
    text-align: center;
    background-color: #ffcccc; /* Rosa claro */
    padding: 20px;
    margin-top: 50px;
}

.footer-content p {
    margin: 0;
    color: #ff69b4; /* Rosa brillante */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    flex: 0 0 calc(33.33% - 20px); /* Tamaño de columna del 33.33%, con espacio entre columnas */
    margin-bottom: 20px;
}

.column img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.column img:hover {
    transform: scale(1.05); /* Zoom al hacer hover */
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.post-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.post-content {
    line-height: 1.6;
    color: #555;
    text-align: left; /* Alineado a la izquierda */
}